body {
    background: #fff;
    margin: 0px;
    padding: 0px;
    font-size: large;

}

form{
    width: 30%;
    background-color: #e9ebee;
    padding: 40px 30px;
    margin: 50px auto;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
}

form input, form button{
    width: 100%;
    margin: 20px 0px;
    padding: 15px 5px;
    outline: none;
    border-radius: 10px;
}

form h1{
    color: blue;
}

form p{
    font-weight: bold;
    font-size: x-large;
}

form button {
    border: none;
    font-weight: bold;
    color: white;
    background-color: blue;
}

form button:hover{
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 768px) {
form{
    width: 50%;
    background-color: #e9ebee;
    padding: 5%;
    margin: 10% auto;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
}

form input, form button{
    width: 100%;
    margin: 10% 1%;
    padding: 5% 1%;
    outline: none;
    border-radius: 10px;
}

form h1{
    color: blue;
}

form p{
    font-weight: bold;
    font-size: x-large;
}

form button {
    border: none;
    font-weight: bold;
    color: white;
    background-color: blue;
}

form button:hover{
    opacity: 0.8;
    cursor: pointer;
}

}